Lists- Data Structure:

A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

In [1]:
#insert the list
list = [1,2,3,4,'one','two','three']
list.insert(5,'seventy')
print(list)

[1, 2, 3, 4, 'one', 'seventy', 'two', 'three']

In [2]:
list2 =['five','six']
list.append(list2)
print(list)

[1, 2, 3, 4, 'one', 'seventy', 'two', 'three', ['five', 'six']]

In [3]:
#we can delete some items in the list also

del list[4]
print(list
     
     )

[1, 2, 3, 4, 'seventy', 'two', 'three', ['five', 'six']]

In [5]:
#we also use pop method to delete the items
a = list.pop(5)
print(a)
print(list)

three
[1, 2, 3, 4, 'seventy', ['five', 'six']]

In [13]:
#list related keywords
list = ['one','two','three','four']

if 'two' in list:
    print('AI')
else:
    print('six is not in the list')

AI

In [16]:
list.reverse()
print(list)

['four', 'three', 'two', 'one']

In [17]:
#sorting teh numbers

num =[1,2,3,4,5,6,7,8,45,3,6,4,2,3,6,89]
sorted_list= sorted(num)
print('sorted list is ',sorted_list)

sorted list is  [1, 2, 2, 3, 3, 3, 4, 4, 5, 6, 6, 6, 7, 8, 45, 89]

In [21]:
# reverse sorted list
sorted_list.reverse()
print(sorted_list)
print('original list',num)

[89, 45, 8, 7, 6, 6, 6, 5, 4, 4, 3, 3, 3, 2, 2, 1]
original list [1, 2, 3, 4, 5, 6, 7, 8, 45, 3, 6, 4, 2, 3, 6, 89]

In [22]:
#we can not sort list of different data types
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

In [25]:
#we also split string the list
me = "a,c,v,d,f,e,r,er,t,r,c,,c,v,f,d,ws,w,e,we"
b= me.split(',')
print(b)

['a', 'c', 'v', 'd', 'f', 'e', 'r', 'er', 't', 'r', 'c', '', 'c', 'v', 'f', 'd', 'ws', 'w', 'e', 'we']

In [26]:
me = "My name is Madhav Gupta"
b =me.split() #default for the no character
print(b)

['My', 'name', 'is', 'Madhav', 'Gupta']

In [30]:
#Indexing and the slicing
a = [1,2,3,4,5,6,7,8,9,12]
print(a[2])
print(a[-1]);print(a[:]);print(a[0:5]);

3
12
[1, 2, 3, 4, 5, 6, 7, 8, 9, 12]
[1, 2, 3, 4, 5]

In [35]:
print(a)
print(a[::2]) # diffiicult to understand isme zero se start karna hai with a difference of the two
print(a[2::2]) #isme difference fo the two starting fromn the 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12]
[1, 3, 5, 7, 9]
[3, 5, 7, 9]

In [36]:
print(a.count(3))

1

In [41]:
squares = [i**3 for i in range(20,30)] # got cubes fromnthe range of 20 to 30 
#that is an example tof the list comperhensipn i.e it provides concise way to create lsits
print(squares)

[8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389]

In [43]:
#create list with the calues doubles
a =[20,12,4,57,81,2]
doubles = [i*2 for i in a] # agar koi condition rakhni hai like 0 se bada number like need to apply filter just add if then condition
print(doubles)

[40, 24, 8, 114, 162, 4]

In [47]:
#Filter the list to exclude the negative numbers
filter_list =[i for i in a if i >= 0]
print(filter_list)

[20, 12, 4, 57, 81, 2]

In [50]:
#create the list of tuples like(number,square_of_number)
new_list =[(i,i**2) for i in range(10)]
print(new_list)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]