In [2]:
#APPLIED AI NOTES FROM THE STARTING. I will explain all that via youtube video.

In [3]:
# FOR LOOP with else
numbers =[1,2,3,4,5]
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

In [4]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

Product is: 12000000

In [5]:
#Range will generate numbers from the input numbers

for i in range(14):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [8]:
for i in range(0,20,5): #starting from zero till 20 with the difference of 5
    print(i)

0
5
10
15

In [9]:
list = ['satish','sriny','muralli','naveen','bramha']
for m in list:
    print(m)

satish
sriny
muralli
naveen
bramha

In [10]:
for item in lst:
    print(item)
    if item % 2 ==0:
        break
else:
    print('no item left in the list')

10

In [13]:
# prime numbers with an interval
index1 = 20
index2 =50

print("prime numbers between {} and {}".format(index1,index2))

for num in range(index1,index2 +1 ):
    if num >1:
        isDivisible= False;
        for index in range (2,num):
            if num % index ==0:
                isDivisible =True ;
            if not isDivisible:
                print(num);

prime numbers between 20 and 50
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49

In [14]:
#You can use that code instead of the above one

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [15]:
lower = 30
upper = 50

print('prime numbers between {} and {} is'.format(lower,upper ))

for num in range(lower,upper+1):
    if num > 1:
        for i in range()

SyntaxError: invalid syntax (<ipython-input-15-86dd1791cf39>, line 8)

In [17]:
#BREAK STATE MENT

numbers = [1, 2, 3, 4]
for num in numbers:          #iterating over list
    if num == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

Python Program to check given number is Prime number or not (using break)

In [ ]:
num = int(input("enter a number :"))
isDivisible =False;
a=2 ;
while a < num :
    if number == 0:
        isDivisible =True;
        print('{}is divisible by{}'.format(num,a))
        break;
    i+=1;
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Variables: Locations in the memory used to store some of the data .they are given different names to differntiate b/w different memmmory locations.Rules as same as the identifiers in python

In [1]:
x= 45
print(id(x))

93891429986208

In [2]:
y=45
print(id(45))

93891429986208

Datatypes are the classes and the variables of the classes.Definition: A class is a blueprint that defines the variables and the methods common to all objects of a certain kind.A class is a code template for creating objects. Objects have member variables and have behaviour associated with them. In python a class is created by the keyword class.
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age