In [1]:
#Tuples

In [2]:
t= ()
t = (1,(1,2,3),[1,2,3,'ABX'])

In [3]:
t =

(1, (1, 2, 3), [1, 2, 3, 'ABX'])

In [4]:
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

In [5]:
del t

In [6]:
t = (1,2,3,4,6,78,4,23,1,1,2,3)
t.count(2)

2

In [8]:
t.count(1)

3

In [10]:
t.index(3)

2

In [11]:
1 in t

True

In [12]:
a = sorted(t)
a

[1, 1, 1, 2, 2, 3, 3, 4, 4, 6, 23, 78]

In [13]:
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [14]:
t = ('ABc',('satish','naveen','srinu'))
print(t[1])

('satish', 'naveen', 'srinu')

In [15]:
y = (1,2,3,4,5)
t[1:4]

(('satish', 'naveen', 'srinu'),)

In [16]:
y[1:4]

(2, 3, 4)

In [17]:
y[1] = 4

TypeError: 'tuple' object does not support item assignment

In [18]:
#Collection of items.
s ={1,2,3}
s

{1, 2, 3}

In [19]:
list = [1,2,33,4,5]

In [21]:
s = set (list)
s

{1, 2, 4, 5, 33}

In [22]:
s.add(2)
s

{1, 2, 4, 5, 33}

In [23]:
s.update([5,6,3])
s

{1, 2, 3, 4, 5, 6, 33}

In [25]:
s.discard(1) # particular items will removed
s

{2, 3, 4, 5, 6, 33}

In [26]:
s.remove(2) #2nd item inxes will remmove
s

{3, 4, 5, 6, 33}

In [29]:
import numpy as np
a =np.arange(10)

In [30]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
b = set(a)

In [32]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [33]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
a= set(np.arange(10,20))

In [36]:
b =set(np.arange(10))

In [38]:
a |  b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [39]:
a.union(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [40]:
a.intersection(b)

set()

In [41]:
a.difference(b)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [42]:
a^b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [44]:
# frozen sets  = immutable sets
set1 =  frozenset(set(np.arange(10,20)))
set2 = frozenset(set(np.arange(20,30)))

In [45]:
set1.add[5]

AttributeError: 'frozenset' object has no attribute 'add'